.btn-red {
    color: white;
  border-radius: 30px !important;
  background-color: $base-red !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border: none;
  &:hover {
      background-color: $hover-red !important;
      color: white;
  }
}

.btn-contact {
  color: $black;
  padding: 10px!important;
  background-color: $pageBackground;
  border: 2px solid $black;
  border-radius: 50%;
  &:hover {
    color: $pageBackground;
    background-color: $black;
    svg {
      fill: $pageBackground;
    }
  }
}