// Media queries

// Tablet - Mobile
@media (max-width: 991px) {
  .header-title {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
  }
  h1 {
    font-size: 48px !important;
  }

  .dates-text {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .events {
    margin-top: 50px;
  }

  .events-title {
    margin-top: 10px;
    
  }

  .bio-text-section {
    padding-top: 30px!important;
    text-align: center;
  }

  .bio-title {
    margin-top: 20px;
  }

  .header-title {
    display: none;
  }

  .col-lg-3{
    margin-top: 20px;
  }

  .footer {
    margin-top: 50px;
    hr {
      margin-bottom: 30px;
      width: 70%;
    }
    .hr-2 {
      display: none;
    }

    .container-footer-links {
      margin-top: 20px;
    }

    .container-footer-socials {
      margin-top: 45px;
    }
  }

  .work-image-grid {
    display: none;
  }

  .work-carousel {
    display: flex;
  }

  
}

// Mobile
@media (max-width: 576px) {
  h1 {
    font-size: 35px !important;
  }

  .btn-event {
    margin-top: 10px;
  }

  // Work section
  .work-container {
    padding: 40px;
  }
}
