// Media queries

// Tablet
@media (max-width: 991px) {
  .header-title {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
  }
  h1 {
    font-size: 48px !important;
  }

  .dates-text {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .events {
    margin-top: 50px;
  }

  .events-title {
    margin-top: 10px;
    
  }

  .bio-text-section {
    padding-top: 30px!important;
    text-align: center;
  }

  .header-title {
    display: none;
  }

  .col-lg-3{
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 35px !important;
  }
  .btn-event {
    margin-top: 10px;
  }
}
