// Media queries
@media (max-width: 991px) {
  .header-title {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
  }
  h1 {
    font-size: 48px !important;
  }

  .dates-text {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px !important;
  }
}
