@import "./colors";
@import "./buttons";
@import "./typography";

body {
 @include typography();
}

nav {
  font-weight: 300;
  color: black;
  letter-spacing: 0.05em !important;

  li {
    padding-left: 40px;
    a{
      font-weight: 500;
    }
  }
}

.row {
  div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// Work Section
.work-carousel {
  display: none;
}

.work-container {
   padding-top: 20px;
   padding-bottom: 20px;
}


.events {
    margin-top: 100px;
    .card-text {
        color: rgb(124, 124, 124);
    }

    .event {
        margin: 0 !important;
    }

    .events-title {
      margin-bottom: 20px;
    }
}

.img-grid {
  padding: 10px;
}

.bio {
  margin-top: 100px;
  .bio-text-section {
    padding-left: 30px!important;
    padding-right: 30px!important;
  }

  p {
    margin-top: 20px;
  }
  .btn {
    margin-top: 15px;
  }
}

.footer {
  margin-top: 100px;
  .footer-logo{
    width: 200px;

    &:hover {
      color: black;
    }
  }
  
  .container-footer-links {
    margin-top: 70px;
    max-width: 700px;
  }

  .container-footer-socials { //or use a custom class like .custom-container
    max-width: 500px;
    margin-top: 70px;
  }

  .copyright {
    font-size: small;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .footer-link{
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &:hover {
      color: $base-red;
    }
  }
}

@import "./responsive";

