@import "./colors";
@import "./responsive";
@import "./buttons";
@import "./typography";

body {
 @include typography();
}

nav {
  font-weight: 300;
  color: black;
  letter-spacing: 0.05em !important;

  li {
    padding-left: 40px;
  }

}


.row {
  div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.events {
    margin-top: 100px;
    .card-text {
        color: rgb(124, 124, 124);
    }

    .event {
        margin: 0 !important;
    }
}

